#left-sidebar {
	z-index: 10;
	width: var(--sidebar-width);
	height: 100%;
	position: absolute;
	left: 0px;

	overflow-y: auto;
	// &:hover {
	// 	overflow-y: auto;
	// }

	transition: left .1s linear;

	&.hidden {
		left: calc(-1 * var(--sidebar-width) - 12px);
	}

	box-shadow: 0 0 12px var(--shadow);
	background-color: var(--beige100);
	color: var(--beige800);
	font-size: 15px;
	font-weight: 500;

	#sidebar-title {
		height: var(--top-header-height);
		line-height: var(--top-header-height);
		text-align: center;
		background: var(--beige200);
		color: var(--beige700);
		h1 {
			font-size: 20px;
			color: var(--lavgray800);
		}
	}
	h4 {
		margin: 10px 0;
		padding-left: 10px;
	}

	li.sidebar-clickable {
		cursor: pointer;
		padding: 5px 30px;
		line-height: 19px;
		&:not(.selected):hover {
			background-color: var(--lavender100);
			&.inactive {
				color: var(--lavender400);
				font-size: .9em;
			}
			&:not(.inactive) {
				color: var(--lavender900);
			}
		}
		&.selected {
			background-color: var(--lavender200);
			color: var(--lavender900);
		}
		&.inactive {
			font-size: .9em;
		}
	}

	.characters {
		ul {
			li {
				border: none;
				// &:not(.inactive):not(:last-child) {
				// 	border-bottom: solid 1px var(--beige200);
				// }
				&.inactive {
					color: var(--beige400);
				}
			}
		}
	}
}
#sidebar-overlay {
    z-index: 9;
    height: 100%;
	position: fixed;
	
	background-color: black;
	width: 0;
	opacity: 0;

	--target-opacity: .5;
	
	@media(max-width: 1024px) {
		&.show {
				width: 100%;
				opacity: var(--target-opacity);
		}
		&.hide {
				width: 0; // show and hide with width, since display doesn't play well with transitions
				opacity: 0;
		}
	}
}