@import "normalize.css";

:root {
	--gray100: hsl(210, 6%, 98%);
	--gray200: hsl(210, 6%, 90%);
	--gray300: hsl(210, 6%, 80%);
	--gray400: hsl(210, 6%, 70%);
	--gray500: hsl(210, 6%, 60%);
	--gray700: hsl(210, 6%, 40%);
	--gray900: hsl(210, 6%, 18%);
}