@import "normalize.css";

:root {
	--gray100: hsl(210, 6%, 98%);
	--gray200: hsl(210, 6%, 90%);
	--gray300: hsl(210, 6%, 80%);
	--gray400: hsl(210, 6%, 70%);
	--gray500: hsl(210, 6%, 60%);
	--gray700: hsl(210, 6%, 40%);
	--gray900: hsl(210, 6%, 18%);
	--beige100: hsl(55, 9%, 97%);
	--beige200: hsl(55, 9%, 90%);
	--beige300: hsl(55, 9%, 85%);
	--beige400: hsl(55, 9%, 75%);
	--beige500: hsl(55, 9%, 65%);
	--beige600: hsl(55, 7%, 55%);
	--beige700: hsl(50, 7%, 45%);
	--beige800: hsl(50, 7%, 35%);
	--beige900: hsl(50, 7%, 25%);
	--lavgray100: hsl(250, 20%, 98%);
	--lavgray200: hsl(250, 20%, 95%);
	--lavgray300: hsl(250, 20%, 85%);
	--lavgray400: hsl(250, 20%, 75%);
	--lavgray500: hsl(250, 20%, 65%);
	--lavgray600: hsl(250, 20%, 55%);
	--lavgray700: hsl(250, 20%, 45%);
	--lavgray800: hsl(250, 20%, 35%);
	--lavgray900: hsl(250, 20%, 25%);
	--lavender100: hsl(240, 100%, 96%);
	--lavender200: hsl(240, 100%, 90%);
	--lavender300: hsl(240, 90%, 85%);
	--lavender400: hsl(240, 80%, 80%);
	--lavender500: hsl(240, 70%, 72%);
	--lavender600: hsl(240, 60%, 65%);
	--lavender700: hsl(240, 50%, 60%);
	--lavender800: hsl(240, 40%, 50%);
	--lavender900: hsl(240, 30%, 40%);
	--brown800: hsl(40, 70%, 25%);
	--red500: hsl(0, 50%, 50%);
	--green500: hsl(90, 100%, 35%);
	--gold500: hsl(50, 90%, 50%);
	--blue200: hsl(210, 100%, 90%);
	--blue300: hsl(210, 100%, 80%);
	--blue600: hsl(210, 100%, 50%);
	--blue700: hsl(210, 100%, 40%);
	--blue800: hsl(210, 100%, 30%);
	--blue900: hsl(210, 100%, 20%);
	--teal100: hsl(170, 60%, 97%);
	--teal500: hsl(170, 100%, 40%);
	--shadow: hsla(0, 0%, 0%, 0.2);
}

$Podkova: 'Podkova', sans-serif;
$Crimson: 'Crimson Pro', serif;
$Barlow: 'Barlow', sans-serif;

body {
	font-family: $Podkova;
	background-color: var(--lavgray900);
	color: var(--lavgray900);

	--top-header-height: 30px;
}
#wrapper {
	height: 100%;
}

.good {
	color: var(--green500) !important;
}
.bad {
	color: var(--red500) !important;
}
.btn {
	cursor: pointer;
	border-radius: 4px;
	text-align: center;

	&.primary {
		font-size: 1em;
		border: none;
		padding: 6px 20px;
		background: var(--lavender600);
		color: var(--lavender100);
		&:hover {
		background: var(--lavender500);
		}
	}
	&.second {
		font-size: 1em;
	}
	&.tert {
		font-size: .8em;
		border: none;
		padding: 3px 6px;
		background: none;
		text-decoration: underline;

		&:hover {
			background-color: var(--beige300);
		}
	}
}
.number {
	font-weight: 700;
}
textarea {
	font-family: $Barlow;
	font-size: 11px;
	width: 600px;
	height: 200px;
}

h1, h2, h3 {
	margin: 0;
}
h1 {
	font-family: $Crimson;
}

#top-header {
	position: relative;
	height: var(--top-header-height);
	padding-left: 10px;
	background-color: var(--beige100);
	color: var(--lavgray600);
	box-shadow: 0 0 12px var(--shadow);
	// border-bottom: solid 1px var(--beige400);
	box-sizing: border-box;
	line-height: var(--top-header-height);
	h1 {
		font-size: 20px;
		margin: 0;
		position: relative;
		top: -2px;
	}
}

#left-sidebar {
	float: left;
	width: 180px;
	height: calc(100% - var(--top-header-height));
	overflow-y: auto;

	box-shadow: 0 0 12px var(--shadow);
	background-color: var(--beige100);
	color: var(--beige800);
	font-weight: 600;

	h3.sidebar-header {
		font-size: 11px;
		font-family: $Barlow;
		margin: 10px 0;
		color: var(--beige700);
		padding-left: 10px;
	}

	ul, ol {
		padding: 0;
		margin: 0;
		li {
			list-style: none;
		}
	}

	li.sidebar-clickable {
		cursor: pointer;
		padding: 5px 30px;
		&:not(.selected):hover {
			background-color: var(--lavender100);
			&.inactive {
				color: var(--lavender400);
			}
			&:not(.inactive) {
				color: var(--lavender900);
			}
		}
		&.selected {
			background-color: var(--lavender200);
			color: var(--lavender900);
		}
	}

	.characters {
		ul {
			li {
				border: none;
				// &:not(.inactive):not(:last-child) {
				// 	border-bottom: solid 1px var(--beige200);
				// }
				&.inactive {
					color: var(--beige400);
				}
			}
		}
	}
}

#main {
	padding: 15px;
	height: calc(100% - var(--top-header-height));
	margin-left: 180px; // sidebar width
	background-color: var(--beige400);
	overflow-y: auto;
	box-sizing: border-box;
	
	h2 {
		font-size: 1.4em;
	}

	.main-card {
		max-width: 1200px;
		margin: auto;
		padding: 0;
		border-radius: 4px;
		overflow: hidden; // for border-radius
		
		box-shadow: 0 5px 12px var(--shadow);
		background-color: var(--beige100);

		.main-card-header {
			background-color: var(--lavgray800);
			color: var(--lavgray300);
			padding: 0 30px;

			h1 {
				font-size: 2em;
				font-family: $Crimson;
				font-weight: 500;
				line-height: 50px;
			}
		}
		.main-card-body {
			padding: 30px 30px;
		}
	}

	#edit-roster-body {
		#sublists {
			display: flex;
		}

		.be {
			background-color: var(--red500);
			color: var(--beige100);
		}
		.bl {
			background-color: var(--blue700);
			color: var(--gold500);
		}
		.gd {
			background-color: var(--gold500);
			color: var(--beige900);
		}

		.roster-sublist {
			h2 {
				font-family: $Crimson;
				font-weight: 400;
				line-height: 2em;
			}
			.house-toggler {
				margin: 10px 0;
			}
			min-width: 200px;
			text-align: center;
			padding: 10px;
		}

		ol {
			list-style: none;
			padding: 0;
			margin: auto;
			width: 180px;
			text-align: left;
			li {
				& > div {
					cursor: pointer;
					padding: 10px;
					border: solid 1px var(--lavgray400);
					color: var(--lavgray400);
					border-radius: 2px;
					margin-top: 9px;

					&:not(.active):hover {
						background-color: var(--lavgray200);
						color: var(--lavgray500);
					}
					&.active {
						border-color: var(--lavender600);
						background-color: var(--lavender100);
						color: var(--lavender600);
						box-shadow: 0 0 4px var(--lavender300);
					}
				}
			}
		}
	}

	#character-body {
		display: flex;
		margin-left: 2px;
		& > * {
			margin-right: 20px;
			min-width: 400px;
		}

		table {
			border-spacing: 0;
			border-top: solid 1px var(--beige300);
			border-radius: 2px;
			text-align: center;
			td, th {
				border-left: solid 1px var(--beige300);
				border-bottom: solid 1px var(--beige300);
				padding: 4px;
				min-width: 25px;
				&:last-child {
					border-right: solid 1px var(--beige300);
				}
			}
			td {
				color: var(--beige600);
			}
			th {
				background-color: var(--beige200);
			}
		}
	}

}
