@import "normalize.css";
@import "sidebar";
@import "table";
@import "classCard";

:root {
	--gray100: hsl(210, 6%, 98%);
	--gray200: hsl(210, 6%, 90%);
	--gray300: hsl(210, 6%, 80%);
	--gray400: hsl(210, 6%, 70%);
	--gray500: hsl(210, 6%, 60%);
	--gray700: hsl(210, 6%, 40%);
	--gray800: hsl(210, 6%, 30%);
	--gray900: hsl(210, 6%, 18%);
	--beige100: hsl(45, 15%, 97%);
	--beige200: hsl(45, 15%, 92%);
	--beige300: hsl(45, 15%, 85%);
	--beige400: hsl(45, 15%, 75%);
	--beige500: hsl(45, 15%, 65%);
	--beige600: hsl(45, 9%, 55%);
	--beige700: hsl(45, 9%, 45%);
	--beige800: hsl(45, 9%, 35%);
	--beige900: hsl(45, 9%, 25%);
	--tan100: hsl(40, 40%, 90%);
	--t2: hsl(44, 18%, 59%);
	--lavgray100: hsl(250, 20%, 98%);
	--lavgray200: hsl(250, 20%, 95%);
	--lavgray300: hsl(250, 20%, 90%);
	--lavgray400: hsl(250, 20%, 85%);
	--lavgray500: hsl(250, 20%, 75%);
	--lavgray600: hsl(250, 20%, 65%);
	--lavgray700: hsl(250, 20%, 55%);
	--lavgray800: hsl(250, 20%, 45%);
	--lavgray900: hsl(250, 20%, 30%);
	--lavender100: hsl(240, 100%, 96%);
	--lavender200: hsl(240, 100%, 90%);
	--lavender300: hsl(240, 90%, 85%);
	--lavender400: hsl(240, 85%, 80%);
	--lavender500: hsl(240, 80%, 72%);
	--lavender600: hsl(240, 70%, 65%);
	--lavender700: hsl(240, 60%, 60%);
	--lavender800: hsl(240, 50%, 50%);
	--lavender900: hsl(240, 40%, 40%);
	--brown800: hsl(40, 70%, 25%);
	--red500: hsl(0, 50%, 50%);
	--green500: hsl(90, 100%, 35%);
	--gold500: hsl(50, 90%, 50%);
	--gold700: hsl(44, 100%, 40%);
	--blue200: hsl(210, 100%, 90%);
	--blue300: hsl(210, 100%, 80%);
	--blue500: hsl(210, 100%, 60%);
	--blue600: hsl(210, 100%, 50%);
	--blue700: hsl(210, 100%, 40%);
	--blue800: hsl(210, 100%, 30%);
	--blue900: hsl(210, 100%, 20%);
	--teal100: hsl(170, 90%, 97%);
	--teal100: hsl(170, 90%, 85%);
	--teal200: hsl(170, 95%, 75%);
	--teal300: hsl(170, 95%, 65%);
	--teal400: hsl(170, 100%, 55%);
	--teal500: hsl(170, 100%, 45%);
	--teal600: hsl(170, 100%, 35%);
	--teal700: hsl(170, 100%, 25%);
	--teal800: hsl(170, 100%, 20%);
	--teal900: hsl(170, 100%, 15%);
	--shadow: hsla(0, 0%, 0%, 0.2);
}

$Podkova: 'Podkova', sans-serif;
$Crimson: 'Crimson Pro', serif;
// $Barlow: 'Barlow', sans-serif;

body {
	margin: 0;
	background-color: var(--beige400);
	color: var(--beige800);
	font-family: $Podkova;
	font-size: 14px;

	--top-header-height: 50px;
	--sidebar-width: 180px;
}
#wrapper {
	height: 100%;
}

.good {
	color: var(--green500) !important;
}
.bad {
	color: var(--red500) !important;
}
.neutral {
	color: var(--beige600) !important;
}
.budding {
	color: var(--gold700) !important;
}
.btn {
	cursor: pointer;
	border-radius: 4px;
	text-align: center;
	font-weight: 700;

	&.primary {
		min-width: 80px;
		font-size: 1em;
		padding: 6px 0;
		border: none;
		box-shadow: 0 2px 4px var(--shadow);
		background: var(--lavender600);
		color: var(--lavender100);
		&:hover {
			background: var(--lavender500);
		}
	}
	&.secondary {
		min-width: 80px;
		font-size: 1em;
		padding: 6px 20px;
		border: solid 1px var(--lavender500);
		background: var(--beige100);
		color: var(--lavender700);
		&:hover {
			background: var(--lavgray200);
		}
	}
	&.tert {
		padding: 3px 6px;
		border: none;
		box-shadow: none;
		background: none;

		font-size: .8em;
		font-weight: 400;
		text-decoration: underline;

		&:hover {
			background-color: var(--beige300);
		}
	}
}
.star-btn {
	padding: 0;
	background: none;
	border: none;
	color: var(--beige300);
	cursor: pointer;
	&.active {
		color: var(--lavender300);
		text-shadow: 0 0 5px var(--lavender300);
	}
	&.active:hover {
		color: var(--lavender200);
	}
	&:not(.active):hover {
		color: var(--beige400);
	}
}
.bold {
	font-weight: 700;
}
.heavy {
	font-weight: 700;
	font-size: 1.2em;
}
.pill {
	position: relative;
	display: inline;
	top: 5px;
	margin-left: 5px;
    padding: 3px 9px;
	border-radius: 20px;
	background-color: var(--beige200);
	font-size: 11px;
	
	&.event {
		border-radius: 2px;
	}
	&.beginner {
		background-color: #f0e5d7;
		color: #6e4912;
		border-radius: 2px;
	}
	&.intermediate {
		background-color: #e1ecec;
		color: #2a6e6b;
		border-radius: 2px;
	}
	&.advanced {
		background-color: #fff1d1;
		color: #8f6605;
		border-radius: 2px;
	}
	&.master {
		background-color: #f0efff;
		color: #0e00d8;
		border-radius: 2px;
	}
}
a {
	color: var(--lavender400);
}
.flex-spacer {
	flex-grow: 1;
}

textarea {
	border: solid 1px var(--beige400);
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 11px;
}

ul, ol {
	padding: 0;
	margin: 0;
	li {
		list-style: none;
	}
}


h1, h2, h3 {
	color: var(--lavgray900);
}
h1, h2, h3, h4 {
	margin: 0 0 5px;
}
h1 {
	font-family: $Crimson;
	font-weight: 500;
}
h4 {
	font-size: 11px;
	font-family: $Crimson;
	font-weight: 400;
	color: var(--beige700);
	text-transform: uppercase;
}

#right-area {
	height: 100%;
	transition: margin-left .1s;
	&.desktop-sidebar-active {
		@media(min-width: 1024px) {
			margin-left: var(--sidebar-width);
		}
	}
}

#top-header {
	z-index: 1;
	position: relative;
	height: var(--top-header-height);
	box-shadow: 0 0 12px var(--shadow);
	box-sizing: border-box;
	overflow: hidden; // margin collapse
	h1, h2 {
		color: var(--lavgray200);
		font-weight: 400;
		font-family: $Crimson;
	}
	.pattern {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-image: url("/assets/church-on-sunday.svg");
		mix-blend-mode: hard-light;
		opacity: .2;
		position: absolute;
	}
	.gradient {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: var(--lavgray800);
		background: radial-gradient(circle, rgba(92,74,114,1) 0%, rgba(45,32,64,1) 100%);
		position: absolute;
	}
	#top-header-content {
		height: 100%;
		display: flex;
		line-height: var(--top-header-height);
		padding: 0 15px;
	}
	#top-left, #top-right {
		font-size: 14px;
		position: absolute;
	}
	#top-left {
		i {
			color: var(--lavgray200);
			font-size: 30px;
			line-height: var(--top-header-height);
			cursor: pointer;
		}
	}
	#top-right{ 
		right: 20px;
	}
	#top-center {
		position: absolute;
		text-align: center;
		width: 100%;
	}
}


#main {
	position: relative; // ensures shadows display over this space
	padding: 14px;
	height: calc(100% - var(--top-header-height));
	background-color: var(--beige400);
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	
	@media(max-width: 1024px) {
		padding: 0;
	}

	.main-card {
		width: 100%;
		max-width: 1680px;
		padding: 0;
		border-radius: 4px;
		overflow: hidden; // for border-radius & header
		
		box-shadow: 0 5px 12px var(--shadow);
		background-color: var(--beige100);

		.main-card-content {
			padding: 15px;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			overflow: auto;
			height: calc(100% - 15px * 2);

			@media(max-width: 700px) {
				padding: 0;
				height: 100%;
			}

			&.noflex {
				display: block;
			}
			#load-content-wrapper {
				width: 100%;
				max-width: 700px;
				textarea {
					width: 100%;
					height: 200px;
				}
			}
			#learning-content-wrapper {
				text-align: center;
			}

			&#edit-roster-content {
				.be {
					background-color: var(--red500);
					color: var(--beige100);
				}
				.bl {
					background-color: var(--blue700);
					color: var(--blue200);
				}
				.gd {
					background-color: var(--gold500);
					color: var(--beige900);
				}
				.seiros {
					background-color: var(--teal600);
					color: var(--teal100);
				}

				.roster-sublist {
					h2 {
						font-family: $Crimson;
						font-weight: 400;
						line-height: 2em;
						border-radius: 2px;
					}
					.house-toggler {
						margin: 10px 0;
					}
					min-width: 200px;
					text-align: center;
					padding: 10px;

					ol {
						list-style: none;
						padding: 0;
						margin: auto;
						width: var(--sidebar-width);
						text-align: left;
						li {
							& > div {
								cursor: pointer;
								padding: 10px;
								border: solid 1px var(--lavgray400);
								color: var(--lavgray400);
								border-radius: 2px;
								margin-top: 9px;

								&:not(.active):hover {
									background-color: var(--lavgray200);
									color: var(--lavgray500);
								}
								&.active {
									border-color: var(--lavender600);
									background-color: var(--lavender100);
									color: var(--lavender600);
									box-shadow: 0 2px 4px var(--lavender300);
								}
							}
						}
					}
				}
			}
			&#overview-content {
				.overview-unit:not(:last-child) {
					margin-right: 30px;
				}
			}

		}
	}

	.character-body {
		display: flex;
		margin-left: 2px;
	}

}

.react-tabs {
	box-sizing: border-box;
	height: 100%;

	&__tab-list {
		width: 100%;
		height: 40px;
		padding: 0;
		margin: 0;
		font-size: 15px;
		text-align: center;
	}
		
	&__tab {
		display: inline-block;
		padding: 3px 5px 0;
		margin-right: 5px;
		font-size: 1em;
		line-height: 2em;
		text-align: center;
		cursor: pointer;
		color: var(--beige500);

		&:hover:not(&--selected) {
			border-bottom: solid 4px var(--lavender100);
			color: var(--lavender800);
		}

		&--selected {
			color: var(--lavender900);
			border-bottom: solid 4px var(--lavender300);
		}
	}

	&__tab-panel {
		height: calc(100% - 40px);
		&:not(&--selected) {
			display: none;
		}
	}
}

img.skill-icon {
	width: 20px;
	height: 20px;
}
