

table {
	border-spacing: 0;
	border: solid 1px var(--beige400);
	border-radius: 2px;
    border-collapse: collapse;
    background-color: var(--beige100);
	td, th {
		border-left: solid 1px var(--beige400);
	}
    td.neutral {
        color: var(--beige700);
    }

	th {
		font-weight: 500;
		font-size: .8em;
        background-color: var(--beige300);
        color: var(--beige800);
	}
}

.big-table {
    text-align: left;
    font-size: 14px;
    td, th {
        padding: 9px;
        @media(max-width: 700px) {
            padding: 6px;
        }
    }
    tr {
        border-bottom: solid 1px var(--beige400);
    }
}
.mini-table {
    text-align: center;
    font-size: 15px;
    td, th {
        padding: 4px;
        min-width: 25px;
    }
}
.growths-table {
}
.skill-bonus-table {
}
.skill-levels-table {
}
.supports-table {
    text-align: left;
}
.learnables-table {
    td.learnable-row-star {
        padding: 4px;
        text-align: center;
    }
    td.learnable-row-name {
        min-width: 110px;
        font-weight: 700;
        @media(max-width: 700px) {
            min-width: 50px;
            max-width: 110px;
        }
    }
    td.learnable-row-skill {
        min-width: 43px;
        font-size: 15px;
        font-weight: 700;
        span {
            display: flex;
            align-items: center;
        }
    }
    td.learnable-row-grade {
        min-width: 20px;
        text-align: center;
    }
    td.learnable-row-desc {
        width: 100%;
    }
}